<button nz-button
        [nzType]="buttonType"
        [nzSize]="size"
        [disabled]="disabled"
        [nzDanger]="isDanger"
        [nzGhost]="isGhost"
        (click)="emitActionCall($event)"
        class="app-renderer-action__button"
>
  <i *ngIf="prefixIcon"
     nz-icon
     [nzType]="prefixIcon"
     class="app-renderer-action__prefix-icon"
  >
  </i>

  <span *ngIf="label"
        class="app-renderer-action__label"
  >
    {{ label | translate }}
  </span>

  <i *ngIf="suffixIcon"
     nz-icon
     [nzType]="suffixIcon"
     class="app-renderer-action__suffix-icon"
  >
  </i>
</button>

