<app-extra-title-tpl>
  <div class="left">
    <button nz-button nzType="primary" [disabled]="isLoading" class="btn" *ngIf="checkReservationStatus(['APPROVED'])" (click)="approve()">
      {{ 'Approve' | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="isLoading"
      class="btn"
      *ngIf="checkReservationStatus(['CONFIRMED']) && !adminCancelReservation"
      (click)="complete()"
    >
      {{ 'Close' | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      nzDanger
      [disabled]="isLoading"
      class="btn"
      *ngIf="checkReservationStatus(['NEW', 'APPROVED']) && !adminCancelReservation"
      (click)="complete()"
    >
      {{ 'Delete' | translate }}
    </button>
    <ng-container *ngIf="placeType === 'appointment'">
      <ng-container *ngIf="isAppointmentOrganizer">
        <button
          nz-button
          nzDanger
          nzType="primary"
          [disabled]="isLoading"
          class="btn"
          *ngIf="appointmentAttendeeStatus !== 'DECLINE'"
          (click)="deleteAppointment()"
        >
          {{ 'Delete' | translate }}
        </button>
        <button
          nz-button
          nzType="primary"
          [disabled]="isLoading"
          class="btn"
          *ngIf="appointmentAttendeeStatus === 'DECLINE'"
          (click)="closeAppointment()"
        >
          {{ 'Close' | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="!isAppointmentOrganizer">
        <button
          nz-button
          nzType="primary"
          [disabled]="isLoading"
          class="btn"
          (click)="confirmAppointment()"
          [disabled]="appointmentStatus !== 'NEW' || appointmentAttendeeStatus !== 'NEW'"
        >
          {{ 'Accept' | translate }}
        </button>
        <button
          nz-button
          nzDanger
          nzType="primary"
          class="btn"
          (click)="closeAppointment()"
          [disabled]="appointmentStatus === 'CLOSED' || appointmentAttendeeStatus !== 'NEW'"
        >
          {{ 'Deny' | translate }}
        </button>
      </ng-container>
    </ng-container>
  </div>
</app-extra-title-tpl>

<app-reservation-view
  [reservation]="reservation"
  [workplace]="workplace"
  [appointment]="appointment"
  [rooms]="rooms"
  [placeType]="placeType"
  (confirmReservation)="approve()"
  (completeReservation)="complete()"
  (cancelReservation)="complete()"
  (deleteAppointment)="deleteAppointment()"
  (closeAppointment)="closeAppointment()"
  (confirmAppointment)="confirmAppointment()"
  [showLabelName]="true"
  [isLoadingOperation]="isLoading"
></app-reservation-view>
