<section class="workspace" (mousemove)="preventClose()">
  <div class="card" *ngIf="buildingsList.length">
    <div class="workspace-wrapper">
      <div [ngClass]="{ 'workspace-wrapper__main-part': !showAdvancedCard, 'workspace-wrapper__main-part-card': showAdvancedCard }">
        <div class="workspace-wrapper__main-part-tabs">
          <app-tabs
            [floorTitle]="floorTitle"
            [type]="'map'"
            [buildingIndex]="currentBuildingIndex"
            [buildings]="buildingsList"
            (selectBuildingIndex)="onSelectBuildingIndex($event)"
            (link)="onLink()"
            (selectFloorId)="onSelectFloorId($event)"
            (showFilter)="showFilter()"
          ></app-tabs>
        </div>
        <div class="workspace-wrapper__main-part-map">
          <app-map
            class="workspace-wrapper__main-part-map__map"
            [img]="image"
            [marks]="marks"
            [size]="imageSize"
            [height]="mapHeight"
            [hiddenMarksTypes]="hiddenMarksTypes"
            [hiddenControls]="hiddenControls"
            [centeredMarkId]="centeredItemId"
            [loading]="loading$ | async"
            [areas]="areas"
            [areasVisible]="areasVisible"
            [useAdvCard]="true"
            [selectedMarkId]="currentWorkplace?.id"
            (mousedown)="onCloseAdvcard(300)"
            (hiddenMarksChange)="onHiddenMarksChange($event)"
            (areaVisibilityChange)="onAreaVisibilityChange($event)"
          >
          </app-map>
        </div>
      </div>
      <div
        [ngClass]="{ 'workspace-wrapper__side-part': !showAdvancedCard, 'workspace-wrapper__side-part-card': showAdvancedCard }"
        [ngSwitch]="type"
        *ngIf="!isModalVisible"
        [hidden]="isSmallScreen"
      >
        <div *ngIf="!isSmallScreen" [hidden]="!showAdvancedCard" class="advcard">
          <ng-container *ngTemplateOutlet="advancedCard"></ng-container>
        </div>
        <div class="scroll" [hidden]="showAdvancedCard">
          <ng-container *ngTemplateOutlet="filterContentTpl"></ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isSmallScreen" [hidden]="!showAdvancedCard" class="advcard">
  <ng-container *ngTemplateOutlet="advancedCard"></ng-container>
</div>

<app-mobile-dialog-contentscroll
  [nzVisible]="isModalVisible"
  [contentTpl]="filterContentTpl"
  [footerTpl]="filterFooterTpl"
  (handleCancel)="handleCancel()"
  (handleOk)="handleOk()"
></app-mobile-dialog-contentscroll>

<ng-template #filterContentTpl>
  <ng-container [ngSwitch]="type">
    <app-filter-appointment
      [realtime]="!isSmallScreen"
      [mode]="'link'"
      *ngSwitchCase="'appointment'"
      [formGroup]="formGroup"
      [tagObjectType]="'ROOM'"
      [buildings]="buildingsList"
      (link)="onLink($event)"
    ></app-filter-appointment>
    <app-filter-parking
      [realtime]="!isSmallScreen"
      [mode]="'link'"
      *ngSwitchCase="'parking'"
      [formGroup]="formGroup"
      [tagObjectType]="'PARKING_LOT'"
      [buildings]="buildingsList"
      (link)="onLink($event)"
    ></app-filter-parking>
    <app-filter-workplace
      [realtime]="!isSmallScreen"
      [mode]="'link'"
      *ngSwitchDefault
      [formGroup]="formGroup"
      [tagObjectType]="'WORKPLACE'"
      [buildings]="buildingsList"
      (link)="onLink($event)"
    ></app-filter-workplace>
  </ng-container>
</ng-template>

<ng-template #advancedCard>
  <app-workplace-card-advanced
    *ngIf="currentWorkplace$ | async as place"
    [disabled]="place.disabled"
    [readOnly]="place.isEwsReadOnly"
    [showPermanentAssignment]="true"
    [type]="type"
    [workplaceId]="place.id"
    [calendarLink]="calendarLink"
    [reservation]="place.reservation"
    (close)="onCloseAdvcard()"
    (reservation)="handleReservation()"
    (updateMap)="onUpdateMap()"
    [isLoading]="isAdvancedCardLoading"
  ></app-workplace-card-advanced
></ng-template>
<ng-template #filterFooterTpl>
  <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isLoading">{{ 'Apply' | translate }}</button>
</ng-template>

<ng-template #modalTitleTpl>
  <span class="modal-title"> <i nz-icon nzType="check-circle"></i>{{ 'Approve reservation' | translate }}</span>
</ng-template>

<ng-template #modalContentTpl>
  <div class="modal-content">
    <span class="modal-content__name">{{ 'Building' | translate }}: </span>
    <span>{{ currentReservation.buildName }}</span>
  </div>
  <div class="modal-content">
    <span class="modal-content__name">{{ 'Place' | translate }}: </span>
    <span>{{ currentReservation.placeName }}</span>
  </div>
  <div class="modal-content">
    <span class="modal-content__name">{{ 'floor' | translate }}: </span>
    <span>{{ currentReservation.floorNumber }}</span>
  </div>
  <div class="modal-content" *ngIf="currentDates">
    <span class="modal-content__name">{{ 'Date' | translate }}: </span>
    <span>{{ 'from' | translate }} {{ currentDates.dateTimeFrom }} {{ 'to' | translate }} {{ currentDates.dateTimeTo }}</span>
  </div>
  <ng-container *ngIf="repeatFilter$ | async as repeat">
    <div class="modal-content">
      <span class="modal-content__name">{{ 'Repeat' }}: </span>
      <span>{{ 'every' | translate }} {{ repeat.weekNum }} {{ 'week' | translate }} {{ getDays(repeat.days) }}</span>
    </div>
    <div class="modal-content">
      <span class="modal-content__name">{{ 'Completing reps' | translate }}: </span>
      <span>{{ repeat.end }}</span>
    </div>
  </ng-container>
</ng-template>
<ng-template #reservationModalTpl>
  <div *ngIf="reservations.success.length" class="mb-25">
    <div>
      <span class="modal-title"> <i nz-icon nzType="check-circle"></i>{{ 'Booked successfully' | translate }} </span>
    </div>
    <div class="modal-content">
      <span class="modal-content__name">{{ 'Reservation' | translate }}: </span>
      <span>{{ reservations.success[0] }}</span>
    </div>
    <div class="modal-content" *ngIf="repeatFilter$ | async as repeat">
      <span class="modal-content__name">{{ 'Repeat' | translate }}: </span>
      <span>{{ 'Every' | translate }} {{ repeat.weekNum }} {{ 'week' | translate }} {{ getDays(repeat.days) }}</span>
    </div>
    <div class="modal-content" *ngIf="repeatFilter$ | async as repeat">
      <span class="modal-content__name">{{ 'Completing reps' | translate }}: </span>
      <span>{{ repeat.end }}</span>
    </div>
  </div>
  <div *ngIf="reservations.errors.length">
    <div>
      <span class="modal-title"> <i nz-icon nzType="close-circle" class="error"></i>{{ 'Failed to book' | translate }} </span>
    </div>
    <div class="modal-content" *ngFor="let err of reservations.errors">
      <span class="modal-content__name"
        >{{ err.dates[0] | date: shortDateTimeFormat }} - {{ err.dates[1] | date: shortDateTimeFormat }}:
      </span>
      <span>{{ err.message }}</span>
    </div>
  </div>
</ng-template>
